*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body{
  color: #ababab;
}

button{
  cursor: pointer;
  background: transparent;
  outline: none;
}

ul, li {
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}